<h2>Hammock Domes</h2>
<br />
<br />
<h3>Choose Your Dome</h3>
<br />
<div id="2-hammock" class = "section">
<h4>2-hammock mini-dome<span>$185.00</span></h4>
  <!-- <img src="assets/2-hammock.jpg" /> -->
  <iframe class="imgur-album" width="480" height="360" frameborder="0" src="http://imgur.com/a/EBRxz/embed#9"></iframe>
  <p>Assembly Time: 10-20 minutes<p>
  <p>10ft Diameter</p>
  <p>7ft height</p>
  <p>great for 2-person camping</p>
  <p>bring your hammocks to the beach!</p>

</div>
<div id="8-hammock" class = "section">
<h4>8-hammock camping dome<span>$700.00</span></h4>
  <!-- <img src="assets/8-hammock.jpg" /> -->
  <iframe class="imgur-album" width="480" height="360" frameborder="0" src="http://imgur.com/a/unGXn/embed#8"></iframe>
  <p>Assembly Time: 45-75 minutes<p>
  <p>17ft diameter</p>
  <p>8.5ft height</p>
  <p>Great for camping/festival shelter</p>

  <p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="3389ZYH58FYES">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

  </p>


</div>
<div id="25-hammock" class = "section">
<h4>25-hammock event-dome<span>$2900.00</span></h4>
  <!-- <img src="assets/25-hammock.jpg" /> -->
  <iframe class="imgur-album" width="480" height="360" frameborder="0" src="http://imgur.com/a/pTKRK/embed#22"></iframe>
  <p>Assembly Time: 2-3 hours</p>
  <p>22ft diameter</p>
  <p>13ft height</p>
  <p>Events</p>
  <p>Festivals</p>
  <p>Greenhouses</p>
  <p>Weddings</p>
</div>

