<h2>Contact</h2>
<div id = "contact">
  <p>To contact us, sent an email to <a href="mailto:edgedomes@gmail.com">edgedomes@gmail.com</a>, or contact us via our Facebook Page <a href="https://www.facebook.com/EdgeDomes" target="_blank">https://www.facebook.com/EdgeDomes</a>.</p>
  <div class = "domepic"></div>
</div>