<h2>Gallery</h2>

<hr />
<h3>Pictures coming soon...until then, here a a few albums I put together on imgur:</h3>

<iframe class="imgur-album" frameborder="0" src="http://imgur.com/a/EBRxz/embed"></iframe>
<iframe class="imgur-album" frameborder="0" src="http://imgur.com/a/unGXn/embed"></iframe>
<iframe class="imgur-album" frameborder="0" src="http://imgur.com/a/pTKRK/embed#22"></iframe>

