    <h3>Hand-Crafted in America by the Edge Brothers<h3>
    <p>Email <a href="mailto:sales@edgedomes.com" target = "_blankd">sales@edgedomes.com</a> for all sales/rental questions.</p>
    
    <div class = "domepic"><img src="assets/25-hammock.jpg" width="800" height="513" /></div>
    