<h2>Rentals</h2>

<p>Domes are available for rent for Events, Parties, Festivals, Weddings.  We will deliver, setup, and remove the dome when and where you need it.  Please email <a href="mailto:edgedomes@gmail.com">edgedomes@gmail.com</a> for all details.</p>
  <div class = "domepic"></div>
  