<h2>Rentals</h2>

<p>All of our domes are available for rent for Events, Parties, Festivals, Weddings.  We will deliver, setup, and remove the dome when and where you need it.  Please email <a href="mailto:edgedomes@gmail.com">edgedomes@gmail.com</a> for all details.  We will require 2-3 weeks notice before an event, so let us know as early as possible when your event is.  There will be an extra charge for rentals not in the immediate Chattanooga, TN area.</p>

<h3>Pricing:</h3>
<p><strong>17ft 2v dome</strong>: $300 for up to 3 days, $100/day after.</p>
<p><strong>22ft diameter, 13ft height dome</strong>(pictured below):  $800 for up to 3 days, $200/day after.</p>
<p>Our crew will come setup, and tear down the dome after</p>
<div class = "domepic"><img src="assets/25-hammock.jpg"/></div>
  